main {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
}

.question-text {
    text-align: center;
    margin-bottom: 70px;
}

.button-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.btn.submit {
    width: calc((100% - 100px * 1) / 2);
    padding: 30px;
    font-size: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #17a2b8;
    background: #17a2b8;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.btn.submit:hover {
    transform: scale(0.95);
}

/* 名前変更-------------------------------------------------------------------------------- */
/* ポップアップをまとめるdiv */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    display: none;
}

#nameContainer.show {
    display: block;
}

#pwContainer.show{
    display: block;
}

/* popup */
.popup{
    width:400px;
    height: 300px;
    background:#fff;
    box-sizing:border-box;
    position:relative;
    border-radius: 10px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* 入力フォーム */
.changeForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 説明用のラベル */
.changeForm label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #707070;
}

/* 入力用のinput */
.form-item input {
    width: 250px;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
}

/* 入力された値がエラーの時 */
.valueError {
    color:red;
    display: none;
}

.valueError.show{
    display: block;
}

/* 実行ボタン */
.change-btn {
    margin: 0 auto;
    padding: 5px 12px;
    display: block;
    text-align: center;
    border: none;
    border: 1px solid #007bff;
    background: #fff;
    border-radius: 5px;
    outline: none;
    color: #007bff;
    cursor: pointer;
    transition: 0.4s;
}

.change-btn:hover {
    color: #fff;
    background: #007bff;
}

/* ポップアップの削除ボタン */
.clearBtn{
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    color: black;
    outline: none;
    border: 1px solid #343a40;
    background: transparent;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0,0.5);
    cursor: pointer;
}

.clearBtn:hover {
    cursor: pointer;
}

