.userInfo, .answerUserInfo {
    border-bottom: solid 1px #888787;
}

.userInfo .image {
    margin: auto;
}

.userInfoHeight .image {
    margin-bottom: 0!important;
}

.answerUserInfo .image {
    margin: auto;
}

.userInfoDiv {
    height: 70px;
}

.questionDate {
    display: flex;
    align-items: flex-end;
    float: right;
}

.questionDateWrapper, .answerDateWrapper {
    width: 100%;
}

.answerButton {
    float: right;
}

.answerButton:hover {
    background-color: #707070;
    color: white;
    transition: all .3s 0s ease;
}