@charset 'utf-8';

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-balck: #000;
}

*:is(::before,::after) {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */

.header {
  width: 100%;
  padding: 10px 30px;
  color: #707070;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper h1 {
  text-transform: capitalize;
}

.search-box {
  display: block;
  width: 30%;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #707070;
}

.links-box {
  display: flex;
}

.header-link {
  margin-right: 15px;
  color: #707070;
}

.header-link:last-of-type {
  margin-right: 0;
}
