@charset 'utf-8';

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-balck: #000;
}

*:is(::before,::after) {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */

.header {
  width: 100%;
  padding: 10px 30px;
  color: #707070;
  background-color: #eee;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.search-box form{
  min-width: 320px;
  display: flex;
}

.search-box input {
  display: block;
  width: 100%;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #707070;
}

.btn.search {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn.search i  {
  font-size: 1.5rem;
  color: #707070;
  cursor: pointer;
}

.links-box {
  display: flex;
}

.header-link {
  margin-right: 15px;
  color: #707070;
}

.header-link:last-of-type {
  margin-right: 0;
}

/* ハンバーガーメニュー＆ドロワー */
.humburger-menu {
  display: none;
  position: relative;
  z-index: 5;
}

.menu-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #707070;
  position: absolute;
  transition: 0.4s;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

.menu-btn.active span {
  background: transparent;
}

.menu-btn.active span:before {
  bottom: 0;
	transform: rotate(135deg);
}

.menu-btn.active span::after {
  top: 0;
	transform: rotate(-135deg);
}

.drawer-content {
  width: 300px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  right: 0;
  background: rgb(160, 160, 160);
  transform: translateX(100%);
  transition: 0.4s;
}

.sp-nav.active .drawer-content {
  transform: translateX(0);
}


@media screen and (max-width: 1024px) {
  .links-box {
    display: none;
  }

  /* ハンバーガーメニュー */
  .humburger-menu {
    display: block;
  }
}
